/* Recent Games */
.recentGames {
    top: -20px;
    height: 114px;
}

#recentGame {
    margin: 2px;
}

.recentGames #recentGamesList #recentGame img {
    border-radius: 50%;
    width: 62px;
}

.recentGames #recentGamesList #recentGame img:hover {
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

.recentGames #recentGamesList p {
    font-size: 100%;
    color: white;
}

.recentGames #recentGamesLabel {
    font-size: 98%;
    left: 4px;
}

.recentGames #recentGamesList #recentGameResult {
    text-align: center;
    line-height: 0;
    top: -33px;
}

.recentGames #recentGamesList #recentGameKDA {
    text-align: center;
    line-height: 0;
    top: -28px;
}

.recentGames #recentGamesType {
    border-color: #B2B4BB;
    background-color: #50525D;
    font-size: 90%;
    outline: none;
    left: 538px;
    top: -63px;
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.recentGames #recentGamesType option {
    background-color: #04070E;
}

