/* Summoner Bar */
.summonerBar {
    top: -15px;
}

.summonerBar #summonerName {
    font-size: 170%;
    color: white;
    top: -4px;
    left: 5px;
}

.summonerBar #summonerLevel {
    color: #5E606E;
    left: 5px;
    top: -6.5px;
}

.summonerBar #summonerFavoriteButton {
    top: 6px;
    left: 6px;
}

.summonerBar #backButton {
    top: -33px;
    left: -79px;
    float: right;
}

.summonerBar #forwardButton {
    left: -7px;
    top: -33px;
    float: right;
}

.summonerBar #homeButton {
    top: -33px;
    left: 65px;
    float: right;
}
