/* Champion Stats */
.statsPage .championStats {
    height: 222px;
    width: 45%;
    top: 5px;
    float: none;
    background-image: url('../img/assets/championStats.png');
}

.championStats #championStatsList #mostPlayedChampion img {
    border-radius: 50%;
    border: 3px solid #B2B4BB;
    width: 89px;
}

.championStats #championStatsList #topChampion img {
    border-radius: 50%;
    border: 3px solid #B2B4BB;
    width: 89px;
}

.championStats #championStatsLabel {
    top: 2px;
}

.championStats #championStatType {
    color: white;
    font-size: 130%;
    left: 5px;
    line-height: 0;
    top: -13px;
}

.championStats #championStatElement {
    width: 300px;
    text-align: left;
}

.championStats #championStatsList {
    top: 2px;
    width: 312px;
    height: 180px;
}

.championStats #mostPlayedChampions {
    width: 270px;
    left: -3px;
    top: -24px;
    display: inline-flex;
}

.championStats #mostPlayedChampion {
    width: 100px;
    margin: 5px;
}

.championStats #mostPlayedChampion p {
    text-align: center;
    line-height: 0;
    top: -11px;
}

.championStats #championName {
    font-size: 105%;
}

.championStats #championWinLoss {
    color: white;
    font-size: 82%;
}

.championStats #championWinLossPercentage {
    color: #22A8CE;
    font-size: 82%;
}

.championStats #championKDA {
    color: #B2B4BB;
    font-size: 80%;
}

.championStats #topChampions {
    width: 270px;
    left: -3px;
    top: -24px;
    display: inline-flex;
}

.championStats #topChampion {
    width: 100px;
    margin: 5px;
}

.championStats #topChampion p {
    text-align: center;
    line-height: 0;
    top: -11px;
}

.championStats #championLevel {
    color: #22A8CE;
    font-size: 82%;
}

.championStats #championPoints {
    color: white;
    font-size: 80%;
}
