/* League Stats */
.statsPage .leagueStats {
    height: 379px;
    width: 54%;
    position: absolute;
    top: 0px;
    right: 3px;
    background-image: url(../img/assets/leagueStats.png);
}

.leagueStats p {
    text-align: center;
    line-height: 0;
    font-size: 115%;
}

.leagueStats #leagueRankStats {
    top: 19px;
}

.leagueStats #leagueStatsLabel {
    top: 14px;
}

.leagueStats #unrankedRankBadge {
    width: 43%;
    top: 25px;
    left: 28%;
}

.leagueStats #ironRankBadge {
    width: 49%;
    top: 25px;
    left: 26%;
}

.leagueStats #bronzeRankBadge {
    width: 55%;
    top: 25px;
    left: 23%;
}

.leagueStats #silverRankBadge {
    width: 58%;
    top: 25px;
    left: 21%;
}

.leagueStats #goldRankBadge {
    width: 62%;
    top: 25px;
    left: 19%;
}

.leagueStats #platinumRankBadge {
    width: 73%;
    top: 25px;
    left: 14%;
}

.leagueStats #diamondRankBadge {
    width: 82%;
    top: 25px;
    left: 10%;
}

.leagueStats #masterRankBadge {
    width: 83%;
    top: 25px;
    left: 8%;
}

.leagueStats #grandmasterRankBadge {
    width: 83%;
    top: 25px;
    left: 9%;
}

.leagueStats #challengerRankBadge {
    width: 91%;
    top: 25px;
    left: 5%;
}

.leagueStats #rankQueueType {
    font-size: 125%;
    text-align: left;
    left: 5px;
    color: white;
    top: 11px;
}

.leagueStats #rank {
    font-size: 130%;
    color: white;
}

.leagueStats #leagueProgress, .leagueStats #leagueName {
    color: white;
}

.leagueStats #calcMMR {
    color: #22A8CE;
}

.leagueStats #rankedWL, #rankedWinRatio, #lastSeasonRank {
    color: #5E606E;
}
