/* Match Details Team Section */
#matchDetailResult {
    width: 98.5%;
    left: 2px;
    top: 2px;
    height: 22px;
    display: inline-flex;
}

#matchDetailResult p {
    font-size: 105%;
    top: -6px;
    left: 2px;
    color: white;
    line-height: 0;
}

.matchDetailPage #towerKills {
    height: 100%;
    display: inline-flex;
    left: 8px;
    top: 1px;
}

.matchDetailPage #towerKillIcon {
    width: 17px;
    height: 18px;
    top: 2px;
}

.matchDetailPage #towerKillCount {
    top: -3px;
    font-size: 85%;
}

.matchDetailPage #dragonKills {
    height: 100%;
    display: inline-flex;
    left: 18px;
    top: 1px;
}

.matchDetailPage #dragonKillIcon {
    width: 17px;
    height: 18px;
    top: 2px;
}

.matchDetailPage #dragonKillCount {
    top: -3px;
    font-size: 85%;
}

.matchDetailPage #baronKills {
    height: 100%;
    display: inline-flex;
    left: 25px;
    top: 1px;
}

.matchDetailPage #baronKillIcon {
    width: 17px;
    height: 18px;
    top: 2px;
}

.matchDetailPage #baronKillCount {
    top: -3px;
    font-size: 85%;
}

.matchDetailPage #bans {
    top: 2px;
    left: 32px;
}

.matchDetailPage #bans img {
    width: 17px;
    height: 18px;
    padding: 1px;
}

.matchDetailPage #teamKda {
    left: 37px;
    top: -2px;
    font-size: 85%;
}

.matchDetailPage #teamGold {
    left: 39px;
    top: 1px;
    font-size: 69%;
}

#matchDetailTeam1 {
    top: -4px;
    left: 2px;
}

#matchDetailTeam2 {
    position: absolute;
    left: 350px;
    top: 93px;
}

#matchDetailTeam1, #matchDetailTeam2 {
    width: 50%;
}

#matchDetailTeam {
    top: 2px;
}

#matchDetailSummoner {
    height: 48px;
    width: 98%;
    margin: 2px;
    background-color: #14161A;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#matchDetailSummoner #matchDetailSummonerChampion {
    width: 40px;
    border-radius: 50%;
    top: 2px;
    left: 1px;
}

#matchDetailSummoner #summonerName {
    font-size: 100%;
}

#matchDetailSummoner #rank {
    color: white;
    font-size: 85%;
}

#matchDetailSummoner #summonerKda {
    font-size: 105%;
    color: white;
    top: -34px;
    left: 47px;
}

#matchDetailSummoner #namerank {
    top: -40px;
    left: 47px;
}

#matchDetailSummoner #itemList {
    display: inline-flex;
    top: -15px;
    left: 90px;
    position: absolute;
}

#matchDetailSummoner #item {
    width: 28px;
    z-index: 1;
    margin: 2px;
}

#matchDetailSummoner #trinket {
    top: 2px;
    width: 20px;
}

#matchDetailSummoner #spellList {
    z-index: 1;
    top: -89px;
    left: 48px;
    width: 33px;
}

#matchDetailSummoner #spell1, #matchDetailSummoner #spell2 {
    width: 15px;
    left: 2px;
}

#matchDetailSummoner #spell1 {
    left: -1px;
}

#matchDetailSummoner #wrapBadgeList {
    position: absolute;
    top: 33px;
    left: 138px;
    width: 203px;
    height: 13px;
}

#matchDetailSummoner #badgeList {
    float: right;
    display: inline-flex;
    height: 10px;
}

#matchDetailSummoner #badge {
    width: 13px;
    margin-right: 1px;
}

#matchDetailSummoner #badgeText {
    font-size: 61%;
    text-align: center;
    top: -9px;
}

/* Hover/Animation Effects */
#matchDetailSummoner:hover {
    opacity: 1;
}

.matchDetailSelectedSummoner {
    opacity: 1;
    border: 1px solid white;
}

.matchDetailNotSelectedSummoner {
    opacity: .6;
    border: 1px solid #19191B;
}
